@use '../custom' as *;

.faq {
  padding: 4rem 0 5rem;
  background-color: $gray-100;

  .accordion-button:not(.collapsed) {
    color: $primary;
    background-color: rgba($secondary, 0.08);
  }

  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba($secondary, 0.25);
  }
}
